---
layout: page
permalink: /
redirect_from: /home/
homepage: true
---

<div id = "InducteeSection" class="title">
    <h2 >Inductees</h2>
    <ul id="filters" class="hidden-phone">
        <li><a href="#" data-filter="*">All</a></li>
        <li><a href="#" data-filter= ".twenty-eighteen">2018</a></li>
        <li><a href="#" data-filter= ".twenty-seventeen">2017</a></li>
        <li><a href="#" data-filter= ".twenty-sixteen">2016</a></li>
        <li><a href="#" data-filter= ".twenty-fifteen">2015</a></li>
        <li><a href="#" data-filter= ".twenty-fourteen">2014</a></li>
        <li><a href="#" data-filter= ".twenty-thirteen">2013</a></li>
        <li><a href="#" data-filter= ".twenty-twelve">2012</a></li>
        <li><a href="#" data-filter= ".twenty-eleven">2011</a></li>
        <li><a href="#" data-filter= ".twenty-ten">2010</a></li>
    </ul>
    <select class="filter visible-phone">
        <option data-filter="*">All</option>
        <option data-filter=".twenty-seventeen">2017</option>
        <option data-filter=".twenty-sixteen">2016</option>
        <option data-filter=".twenty-sixteen">2016</option>
        <option data-filter=".twenty-fifteen">2015</option>
        <option data-filter=".twenty-fourteen">2014</option>
        <option data-filter=".twenty-thirteen">2013</option>
        <option data-filter=".twenty-twelve">2012</option>
        <option data-filter=".twenty-eleven">2011</option>
        <option data-filter=".twenty-ten">2010</option>
    </select>
    <div id="linkdiv">
        <h2><a href="http://fellowship.awesomeinc.org" target="_blank"><img src="img/Logo_Square.png" class="link"></a></h2>
        <h2><a href="/founders-series"><img src="img/founders_logo.png" class="link"></a></h2>
    </div>
</div>
<div id="gallery"  class="row-fluid">
    <div class="span12">

        <ul id="inductees" class="da-thumbs inductees">
            {% for ind in site.data.inductees %}
            <li class="inductee {{ ind.year_class }}">
                <a href="/{{ ind.abbreviated_name }}">
                    <img src="img/{{ ind.pic_name }}.jpg">
                    <div>
                        <span class="name">
                            {{ ind.display_name }} <br>
                            <span class="company">{{ ind.company }} </span>
                        </span>
                        <span class="view-bio">
                            <i class="icon-eye-open"></i> View Bio
                        </span>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>
<div id="Emerging Entreprenuers" class="title">
    <h2 >Emerging Entrepreneurs</h2>
    <ul id="filtersEE" class="hidden-phone">
        <li><a href="#" data-filter="*">All</a></li>
        <li><a href="#" data-filter=".twenty-seventeen-ee">2017</a></li>
        <li><a href="#" data-filter=".twenty-sixteen-ee">2016</a></li>
        <li><a href="#" data-filter=".twenty-fifteen-ee">2015</a></li>
        <li><a href="#" data-filter=".twenty-fourteen-ee">2014</a></li>
        <li><a href="#" data-filter=".twenty-thirteen-ee">2013</a></li>
        <li><a href="#" data-filter=".twenty-twelve-ee">2012</a></li>
        <li><a href="#" data-filter=".twenty-eleven-ee">2011</a></li>
        <li><a href="#" data-filter=".twenty-ten-ee">2010</a></li>
    </ul>
    <select class="filter visible-phone">
        <option data-filter="*">All</option>
        <option data-filter=".twenty-seventeen-ee">2017</option>
        <option data-filter=".twenty-sixteen-ee">2016</option>
        <option data-filter=".twenty-fifteen-ee">2015</option>
        <option data-filter=".twenty-fourteen-ee-ee">2014</option>
        <option data-filter=".twenty-thirteen-ee">2013</option>
        <option data-filter=".twenty-twelve-ee">2012</option>
        <option data-filter=".twenty-eleven-ee">2011</option>
        <option data-filter=".twenty-ten-ee">2010</option>
    </select>
</div>
<div id="galleryEE"  class="row-fluid">
    <div class="span12">
        <ul id="inducteesEE" class="da-thumbs inducteeEE">
            {% for ind in site.data.emerging %}
            <li class="emergingE {{ ind.year_class }}">
                <a href="{{ ind.ext_url }}" target="_blank">
                    <img src="img/{{ ind.pic_name }}.jpg">
                    <div>
                        <span class="name">
                            {{ ind.display_name }} <br>
                            <span class="company">{{ ind.company }} </span>
                        </span>
                        <span class="view-bio">
                            <i class="icon-eye-open"></i> View Bio
                        </span>
                    </div>
                </a>
            </li>
            {% endfor %}


        </ul>
        <br/>
        <p> <b>Note:</b> The companies or organizations listed for each Emerging Entrepreneur are those with which the honoree was most closely associated at the time of recognition. <p>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3><a href="/investors-mentors">Investors and Mentors of the Year</a></h3>
    </div>
</div>
