<section id="about-mainpage">

    <div class="info" style="float: left;">
        
        <h1>ABOUT</h1>

        <p>The Kentukcky Entreprenuer Hall of Fame is a physical and virtual destination that shares and celebrates the stories of Kentucky's most succesful entreprenuers.</p>
            
        <p>
            Our mission is to raise wareness of the impact that entreprenuershiphas made in the  Commonwealth and encourage others to  pursue similar ambitious endeavors.</p>

        <button onclick="document.location='/footer'">CONTACT US</button>


    </div>

        <div class="aboutImg">
            <img src="img/About.png">
        </div>

    
</section>