<section id="about-mainpage">

        <h1>about</h1>

    <div class="paragraphs">
        <p>The Kentukcky Entreprenuer Hall of Fame is a physical and virtual destination that shares and celebrates
            the stories of Kentucky's most succesful entreprenuers.</p>
            <br>
        <p>Our mission is to raise wareness of the impact that entreprenuership has made in the Commonwealth and
            encourage others to pursue similar ambitious endeavors.</p>
    </div>

        <button onclick="document.location='/footer'">contact us</button>

        <img src="img/About.png">
    
</section>