<section id="about-mainpage">

        <h1>about</h1>

    <div class="paragraphs">
        <p>The mission of the Kentucky Entrepreneur Hall of Fame is to raise awareness of the impact that entrepreneurship has made in the Commonwealth of Kentucky and encourage 
            others to pursue similar ambitious endeavors.</p>
            <br>
        <p>We fulfill this mission with <a href="/fellowship.html">programs</a> that celebrate Kentucky’s most successful entrepreneurs, share their stories, and equip emerging entrepreneurs.</p>
    </div>


        <img src="img/About.png">
    
</section>