<section id="emergingEnt">

    <div class="headings">
        <h1>EMERGING</h1>
        <h2>ENTREPRENUERS</h2>
        <h3>2019 CLASS</h3>
    </div>

    <div class="inducteesemerge">
        <ul id="emergeinducteebar">
            <li><img src="img/demetrius-gray.jpg" alt="Demetrius Gray"></li>
            <li><img src="img/jonathan-webb.jpg" alt="Jonathan Webb"></li>
            <li><img src="img/brianraney-wall copy.jpg" alt="Brian Raney"></li>
            <li><img src="img/keithmcmunn-wall copy.jpg" alt="Keith McMunn"></li>
        </ul>
    </div>


    <button onclick="document.location='/inductees'">VIEW MORE</button>


    <p>Note: The companies or organizations listed for each Emerging Entreprenuer <br> are those with which the honoree
        was most closely associated at the time of recognition.</p>
















</section>