<section id="fellowship">

    <img src="/img/fellowship.png" alt="Awesome Felllowship Speech">

    <div class="info">

        <div class="paragraph">
            <p>A mentor-driven program designed to accelerate your high tech startup. The program is tailored to your
                startup's needs and runs on a flexible timeline unique to your team, supporting your startup for up to
                one
                year.</p>
        </div>

        <div class="heading">
            <h1>fellowship</h1>
        </div>

    
    </div>

    <div class="button">
        <button onclick="document.location='/fellowship'">view portfolio</button>
    </div>
    

</section>