<footer>

    <h1><b>contact</b></h1>

    <div class="contact-info">
        <p>
            KY Entrepreneuer Hall of Fame<br>
            348 E. Main St.<br>
            Lexington, KY 40507<br>
            <br>
            <a href="mailto:ky@entrepreneurhof.com">ky@entrepreneurhof.com</a><br>
            <br>
            <a href="https://twitter.com/entrepreneurhof">Follow @entrepreneurhof</a>
        </p>
    </div>

    <a href="/nominate"><h2><b>nominate an entrepreneur</b></h2></a>

    <a href="/assets/2019-kehof-post-event-report.pdf"><h3><b>post-event report</b></h3></a>

    <h4><b>become a sponsor</b></h4>

    <div class="sponsor-info">
        <p>
            Click <a href="/2020-KEHOF-SponsorOpportunities.pdf">Here</a> to Review Oppurtunities & Benefits<br>
            Contact Andrea Flanders at <a href="mailto:aflanders@kychamber.com">aflanders@kychamber.com</a> or<br>
            <a href="tel:502-848-8723">502-848-8723</a>
        </p>
    </div>
    
    <h5>© 2020 ky entrepreneur hof</h5>
</footer>