
<footer>
    <div class="container">

        <div class="span12">
            <div class="span8">

                <h3>Become a Sponsor</h3>
                <p>
                    Click <a href="/assets/2022-kehof-sponsor-opportunities.pdf" target="_blank">Here</a> to Review Sponsorship Opportunities & Benefits<br>
                    Click <a href="https://kychamber.wufoo.com/forms/22-ky-entrepreneur-hall-of-fame-sponsorship-form/" target="_blank">here</a> to register online as a sponsor<br>
                    Contact Andrea Flanders at <a href="mailto:aflanders@kychamber.com">aflanders@kychamber.com</a> or <a href="tel:502-848-8729">502-848-8786</a>
                </p>

                <h3>Sponsorship not an option for you? Consider Advertising</h3>
                <p>
                    Click <a href="/assets/2022-kehof-advertising-rate-card.pdf" target="_blank">Here</a> to Review the Advertising Rate Card<br>
                </p>

                <h3>Nominate an Entrepreneur</h3>
                <p>
                    <!-- <strong>Date</strong></br>
                    November 19th, 2014: </br> 6:00 P.M. - 8:30 P.M. -->
                     <a href="http://www.entrepreneurhof.com/nominate" target="_blank">Fill out the HOF nomination form here (deadline: May 14, 2022)</a>

                </p>
                <h3>Post Event Report</h3>
                <p>
                  <a href="/assets/2021-kehof-post-event-report.pdf" target="_blank">2021 Post-Event Report</a>
                </p>

                
                </br>
                <p>
                    <strong>Location </strong></br>
                        Louisville Marriott Downtown</br>
                        280 West Jefferson<br/>
                        Louisville, KY 40511 </br>
                        Ph: 502-627-5045 </br>
                        Toll-free: 800-533-0127</br>


                </p>
                <p>
                    <strong><a href="https://imisweb.kychamber.com/EventReg?EventKey=81485">Register Today!</a></strong>
                </p>

            </div>
            <div class="span4">
                <h3>Contact</h3>
                <div class="contact">
                    <strong>KY Entrepreneur Hall of Fame</strong><br>
                    348 E. Main St.<br>
                    Lexington, KY 40507<br><br>
                    <a href="mailto:ky@entrepreneurhof.com">ky@entrepreneurhof.com</a><br><br>
                    <div class="social-buttons">
                        <a href="https://twitter.com/entrepreneurhof" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @entrepreneurhof</a>
                        <div class="fb-like" data-href="https://www.facebook.com/pages/Kentucky-Entrepreneur-Hall-of-Fame/119136774817445" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="copyright-text">
                Copyright &copy; 2018 KY Entrepreneur HOF
            </div>
            <div class="credits"><a href="http://www.trippoinc.com">Design by <img src="/img/trippo-credit.png"></a></div>
        </div>

    </div>
</footer>
