<section id="sponsors">
            <div class="container">
                <div class="sponsor-title">
                    <h4>SPONSORS</h4>
                </div>

                <div class="row-fluid feature-s">
                   <!-- HIDE THIS <div class="span3">
                        <h4>Legacy of Leadership Sponsor</h4>
                        <span>
                            <img src="/img/sponsors/lunsford.png">
                        </span>
                    </div> -->

                    <div class = "span4">
                        <h4><b>Presenting Sponsorship</b></h4>
                        <span>
                            <a href="http://www.deltadentalky.com/" target="_blank"><img src="/img/sponsors/delta_dental.png" style="width:40%" ></a> <!-- DELTA DENTAL -->
                        </span>
                    </div>
                    <div class="span8">
                        <h4><b>Gold Sponser</b></h4>
                        <div class="row-fluid">
                            <div class="span6">
                                <span>
                                    <a href="www.tempurpedic.com" target="_blank"><img src="/img/sponsors/tempur-sealy.png" alt="Tempur-Sealy International, Inc." style="max-width: 80%; width: 80%; margin-left: 25%;"></a>
                                </span>
                            </div>
                            <div class="span2">
                                <span>
                                    <a href="#" target="_blank"><img src="img/sponsors/YorkManagement-cmyk-20170.png" alt="York Management" style="max-width: 100%; width: 100%; margin-left: 60%;"></a>
                                </span>
                            </div>
                        </div>
                    </div>



                </div>

                <div class="row-fluid sponsor-logos">

                    <div class="span12">
                       <h4><b>Silver Sponsors</b></h4>

                        <div class="row-fluid supporting-sponsors">
                            <div class="span4">
                                <a href="http://business.louisville.edu/" target="_blank"><img src="/img/sponsors/UofLForcht-cmyk-2017.png" alt="university of louisville" ></a>
                            </div>
                            <div class="span4">
                                <a href="http://ucumberlands.edu" target="_blank"><img src="img/sponsors/UniversityoftheCumberlands-cmyk-2017(EDITED).png" alt="university of cumberlands" ></a>
                            </div>
                            <div class="span4">
                                <a href="http://boothenergy.zohosites.com/" target="_blank"><img src="/img/sponsors/BoothEnergy-2016.png" alt="booth energy"></a>
                            </div>
                            <div class="span4">
                                <a href="http://www.thinkkentucky.com/" target="_blank"><img src="img/sponsors/KyCabinetEconomicDev-cmyk-2016.png" alt="kentucky cabinet of economic development" ></a>
                            </div>
                            <div class="span4">
                                <a href="http://.skofirm.com" target="_blank"><img src="img/sponsors/Stoll_Keenon_Ogden-1line-cmyk-2017.png" alt="kentucky cabinet of economic development" ></a>
                            </div>
                            <div class="span4">
                                <a href="http://forchtgroup.com" target="_blank"><img src="img/sponsors/ForchtBank-Horz-cmyk-2017.png" alt="kentucky cabinet of economic development" ></a>
                            </div>
                            <div class="span4">
                              <a href = "http://bfcompanies.com/" target="_blank"><img src = "img/sponsors/Manna-horz-cmyk-2017.png" alt = "Manna Inc."></a>
                            </div>
                            <div class="span4">
                                <a href="http://argifinancialgroup.com" target="_blank"><img src="img/sponsors/ARGI-cmyk-2017.png" alt="kentucky cabinet of economic development" ></a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">

                <div class="span12">
                    <div class="span8">
                        <h3>Nominate an Entrepreneur</h3>
                        <p>
                            <!-- <strong>Date</strong></br>
                            November 19th, 2014: </br> 6:00 P.M. - 8:30 P.M. -->
                             <a href="http://www.entrepreneurhof.com/nominate" target="_blank">Fill out the HOF nomination form here</a>

                        </p>
                        <h3>Post Event Report</h3>
                        <p>
                          <a href="https://www.kychamber.com/files/2016-kentucky-entrepreneur-hall-fame-post-event" target="_blank">2016 Post-Event Report</a>
                        </p>

                        <h3>Become a Sponsor</h3>
                        <p>
                            <a href="https://www.kychamber.com/kehof-sponsor">Opportunities</a><br>
                            Contact Andrea Flanders at <a href="mailto:aflanders@kychamber.com">aflanders@kychamber.com</a> or <a href="tel:502-848-8723">502-848-8723</a>
                        </p>
                        <!-- </br>
                        <p>
                            <strong>Location </strong></br>
                                Mellwood Arts & Entertainment Center</br>
                                The Van Gogh / Event Room #3<br/>
                                1860 Mellwood Ave </br>
                                Louisville, KY 40206 </br>


                        </p>
                        <p>
                            <strong><a href="https://kyehof.eventbrite.com/"/>Register Today!</a></strong>
                        </p> -->
                        <!--<p>
                            <a href="/2013.pdf" target="_blank">More info</a>
                        </p>-->

                    </div>
                    <div class="span4">
                        <h3>Contact</h3>
                        <div class="contact">
                            <strong>KY Entrepreneur Hall of Fame</strong><br>
                            348 E. Main St.<br>
                            Lexington, KY 40507<br><br>
                            <a href="mailto:ky@entrepreneurhof.com">ky@entrepreneurhof.com</a><br><br>
                            <div class="social-buttons">
                                <a href="https://twitter.com/entrepreneurhof" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @entrepreneurhof</a>
                                <div class="fb-like" data-href="https://www.facebook.com/pages/Kentucky-Entrepreneur-Hall-of-Fame/119136774817445" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="copyright">
                    <div class="copyright-text">
                        Copyright &copy; <?php echo date("Y"); ?> KY Entrepreneur HOF
                    </div>
                    <div class="credits"><a href="http://www.trippoinc.com">Design by <img src="/img/trippo-credit.png"></a></div>
                </div>

            </div>
        </footer>
