<section id="founders-series">

    <h1>MEDIA</h1>

    <p>In order to share the sucess stories of Kentucky's entrepreneurs on <br> a larger scale, we launched a video
        series where we sit down and <br> interview each Kentucky Entrepreneur Hall of Fame inductee.</p>

    <div class="videos">
        <ul id="youtube">
            <li><img src="img/joe-craft-thumb.jpg" alt="Joe Craft Founders Series"></li>
            <li><img src="img/jess-correll-thumb.png" alt="Jess Correll Founders Series"></li>
        </ul>
    </div>

    
    <h2>Joe Craft - Alliance Resource Partners</h2>
    <h3>Jess Correll - First Southern National Bank</h3>

    <button onclick="document.location='/foundersseries'">VIEW MORE</button>

    <div class="founders-logo">
        <img src="img/founders-logo-big.png" alt="founders series logo">
    </div>

    <div class="video-button-1">
        <a href="https://www.youtube.com/embed/tBEBP1jtlxs"><img src="img/Video_Button.png" alt="play video button 1"></a>
    </div>
    <div class="video-button-2">
        <a href="https://www.youtube.com/embed/kkrMKrqXz7Q"><img src="img/Video_Button.png" alt="play video button 2"></a>
    </div>

</section>