<section id="founders-series">

    <h1>FOUNDERS SERIES</h1>

    <p>In order to share the sucess stories of Kentucky's entrepreneurs on <br> a larger scale, we launched a video
        series where we sit down and <br> interview each Kentucky Entrepreneur Hall of Fame inductee.</p>

    <div class="videos">
        <ul id="youtube">
            <li><a href="https://www.youtube.com/embed/tBEBP1jtlxs"><img src="img/joe-craft-thumb.jpg"
                        alt="Joe Craft Founders Series"></a></li>
            <li><a href="https://www.youtube.com/embed/kkrMKrqXz7Q"><img src="img/jess-correll-thumb.png"
                        alt="Jess Correll Founders Series"></a></li>
        </ul>
    </div>

    
    <h2>Class of 2018 Joe Craft</h2>
    <h3>Class of 2018 Jess Correll</h3>

    <button onclick="document.location='/foundersseries'">VIEW MORE</button>

</section>