

    <!-- <div class="top-alert">
      <a href="http://entrepreneurhof.com/nominate"><strong>Nominations are open for the 2015 class. Click here to nominate.</strong></a>
    </div> -->
    {% include top-notification.html %}
    <div class="container">
      <div class="logo">
        <h1><a href="/"><img src="/img/KEHOF_Logo.png" alt="Kentucky Entrepreneur Hall of Fame"></a></h1>
      </div>
      <a class="menu-btn hidden-desktop" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div id="nav" class="nav-collapse collapse">
        <ul id="navbar">
            <li><a href="/about">About</a></li>
            <li><a href="/inductees">Indcutees</a></li>
            <li><a href="/media">Media</a></li>
            <li><a href="/fellowship">The Fellowship</a></li>
            <li><a href="/ceremony">The Ceremony</a></li>
            <!-- <li><a href="/event/">Event</a></li> -->
            <li><a href="#sponsors">Sponsors</a></li>
        </ul>
      </div>
    </div>
