

    <!-- <div class="top-alert">
      <a href="http://entrepreneurhof.com/nominate"><strong>Nominations are open for the 2015 class. Click here to nominate.</strong></a>
    </div> -->

    <div class="container">
      <div class="social-bar">
      </div>
      <div class="logo">
        <h1><a href="/"><img src="/img/hof-logo.png" alt="Kentucky Entrepreneur Hall of Fame"></a></h1>
      </div>
      <a class="menu-btn hidden-desktop" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div id="nav" class="nav-collapse collapse">
        <ul id="navbar">
            <li><a href="/about">About</a></li>
            <li><a href="/media">Media</a></li>
            <li><a href="/founders-series">Founders Series</a></li>
            <!-- <li><a href="/nominate">Nominate</a></li> -->
            <!-- <li><a href="/event/">Event</a></li> -->
            <li><a href="https://www.kychamber.com/node/3024">Register</a></li>
            <li><a href="#sponsors">Sponsors</a>
        </ul>
      </div>
      {% if page.homepage %}
      <div class="billboard" style="max-height: 500px;">
          <h2>
              <div id="line1">KENTUCKY ENTREPRENEUR</div>
              <div id="line2">HALL OF FAME</div>
              <div id="tagline">Honoring Kentucky's Most Successful Entrepreneurs</div>
          </h2>
          <!-- <div class="text-center">
            <a class="btn" id="nominate" href="http://www.entrepreneurhof.com/nominate"><h3>Nominations open for 2017 inductees!</h3></a>
            <h4 style="color:#000"><i>Nominations close 5/22/17</i></h4>
          </div> -->
      </div>
      {% endif %}


    </div>

