<section id="inductees-mainpage">


    <div class="heading">
        <h2>HALL OF FAME INDUCTEES</h2>
    </div>

    <div class="inductees-gray">
        <ul id="inducteebar">
            <li><a href="/inductees/mike-davis/"><img src="img/mike-davis.jpg" alt="Mike Davis"></a></li>
            <li><img src="img/nate_morris.jpg" alt="Nate Morris"></li>
            <li><img src="img/debbie-scoppechio.jpg" alt="Debbie Scoppechio"></li>
            <li><img src="img/r-dudley-webb.jpg" alt="R. Dudley Webb"></li>
            <li><img src="img/don-ball.jpg" alt="Don Ball"></li>
            <li><img src="img/jess-correll.jpg" alt="Jess Correll"></li>
        </ul>
    </div>

    <button onclick="document.location='/inductees'">VIEW INDUCTEES</button>


</section>