<section id="inductees-mainpage">


    <div class="heading">
        <h2>HALL OF FAME INDUCTEES</h2>
        <h3>2019 CLASS</h3>
    </div>

    <div class="inductees-gray">
        <ul id="inducteebar">
            <li><a href="/mike-davis"><img src="img/mike-davis.jpg" alt="Mike Davis"></a></li>
            <li><a href="/nate-morris"><img src="img/nate_morris.jpg" alt="Nate Morris"></a></li>
            <li><a href="/debbie-scoppechio"><img src="img/debbie-scoppechio.jpg" alt="Debbie Scoppechio"></a></li>
            <li><a href="/r-dudley-webb"><img src="img/r-dudley-webb.jpg" alt="R. Dudley Webb"></a></li>
            <li><a href="/junior-bridgeman"><img src="img/junior-bridgeman.jpg" alt="Junior Bridgeman"></a></li>
            <li><a href="/jess-correll"><img src="img/jess-correll.jpg" alt="Jess Correll"></a></li>
        </ul>
    </div>

    <button onclick="document.location='/inductees'">MEET THE INDUCTEES</button>


</section>