<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/jquery.pjax.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/jquery.imagesloaded.min.js"></script>
        <script src="js/jquery.hoverdir.js"></script>
        <script src="js/jquery.tweet.js"></script>
        <script src="js/jflickrfeed.min.js"></script>
        <script src="shadowbox/shadowbox.js"></script>
        <script src="js/main.js"></script>