<section id="sponsors">

    <div class="sponsor-title">
        <h4>sponsors</h4>
    </div>

    <!-- <div class="row-fluid feature-s">
            <a href="2020-KEHOF-SponsorOpportunities.pdf" class="btn" target="_blank">View Sponsorship Opportunities</a>
        </div>
        
        <div class="row-fluid feature-s">
            <br>
            <a href="https://www.kychamber.com/kentucky-entrepreneur-hall-fame-registration-form" class="btn" target="_blank">Register Your Sponsorship</a>
        </div> -->

    <div class="presenting">
        <h1><b>Presenting Sponsor</b></h1>
    </div>

    <div class="gold">
        <h1><b>Gold Sponsors</b></h1>
    </div>


    <div class="chase">
        <a href="https://www.chase.com/" target="_blank"><img src="/img/sponsors/chase-bank.png" alt="Chase Bank"
                style="max-width: 20%;"></a>
    </div>


    <div class="gold-sponsors">
        <ul id="top-images">

            <li><a href="https://www.fsnb.net/" target="_blank"><img src="/img/sponsors/first-southern-natl-bank.png"
                        alt="First Southern National Bank" style="max-width: 75%;"></a>
            </li>
            <li><a href="https://www.thinkkentucky.com/" target="_blank"><img src="/img/sponsors/think-kentucky-v2.png"
                        alt="Kentucky Cabinet for Economic Development" style="margin-top: 5%;"></a>
            </li>

        </ul>
    </div>

    <div class="silver">
        <h1><b>Silver Sponsors</b></h1>
    </div>



    <div class="silver-sponsors-top">
        <ul id="silver-row-one">

            <li><a href="http://boothenergy.zohosites.com/" target="_blank"><img src="/img/sponsors/booth-energy.png"
                        alt="Booth Energy"></a>
            </li>
            <li><a href="https://www.forchtgroup.com" target="_blank"><img src="/img/sponsors/forcht-group-logo.png"
                        alt="Forcht Group of Kentucky" style="margin-top: -12.5%;"></a>
            </li>
            <li><a href="http://louisville.edu/" target="_blank"><img src="/img/sponsors/louisville.png"
                        alt="University of Louisville" style="max-width: 70%;"></a>
            </li>
            <li><a href="https://bfcompanies.com/" target="_blank"><img src="/img/sponsors/manna-horz.png"
                        alt="Manna Inc" style="max-width: 70%;"></a>
            </li>

        </ul>
    </div>



    <div class="silver-sponsors-bottom">
        <ul id="silver-row-two">

            <li><a href="https://www.brown-forman.com" target="_blank"><img src="/img/sponsors/brown–forman-logo.png"
                        alt="Brown Forman" style="max-width: 70%;"></a>
            </li>
            <li><a href="https://www.KSBDC.org" target="_blank"><img src="/img/sponsors/KSDBC.png"
                        alt="Kentucky Small Business Development Center"></a>
            </li>
            <li><a href="http://www.ucumberlands.edu/" target="_blank"><img
                        src="/img/sponsors/university-of-the-cumberlands.png" alt="University of the Cumberlands" style="max-width: 75%; margin-top: 10%;"></a>
            </li>
            <li><a href="https://www.lge-ku.com/" target="_blank"><img src="/img/sponsors/LGE.png" alt="LG&E" style="max-width: 70%; margin-top: 10%;"></a>
            </li>

        </ul>
    </div>

    <div class="contributors">
         <h1><b>Contributors</b></h1>
    </div>
   


    <div class="contributor-sponsors">
        <ul id="conributor-images">

            <li><a href="" target="_blank"><h2>Bill Gatton Foundation</h2></a></li>

            <li><a href="https://www.venminder.com/" target="_blank"><img src="img/sponsors/venminder-logo.png"
                        alt="Venminder" style="max-width: 70%;"></a></li>

            <li><a href="http://www.lunsfordcapital.com/" target="_blank"><img src="img/sponsors/lunsford.png"
                        alt="Lunsford Capital"></a></li>

        </ul>
    </div>
</section>