/* Starts the code for the site header */
header{
    height: 380px;
    background: #fff;

    .alert {
        text-align: center;
        background-color: rgb(178, 50, 50);
        height: 7.5%;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 0px;
        text-shadow: none;
        letter-spacing: 1.5px;
        a{
            color: white;
            font-family: "Open Sans";
            letter-spacing: 1.5px;
        }
    }
}

