#about-mainpage{
    height: 50 vh;
    position: relative;

        
    h1{
        position: absolute;
        transform: rotate(270deg);
        margin-left: 17%;
        margin-top: 11%;

        font-size: 4.5rem;
        font-family: 'AmericanPurpose';
        color: black;
        text-transform: uppercase;
    }   
    
    .paragraphs{
        width: 29.5%;
        margin-left: 25%;
        margin-top: 5%;
        position: absolute;

        p{
            color: black;
            text-align: justify;
            text-justify: inter-word;
            font-size: 140%;
            line-height: 1.3;
            font-family: 'Open Sans';
        }
    }
    
        
    button{
        // positioning
        margin-left: 38%;
        margin-top: 5%;
        position: absolute;
        margin-left: 26%;
        margin-top: 22.5%;
        

        // Button code
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: bold;
        color: white;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        height: 5.5vh;
        width: 27vh;

        background-color: rgb(184, 15, 15);
        padding: 15px 32px;
        border: none;
        border-radius: 7px;
        display: inline-block; 
    }

    
    img{
        margin-left: 100vh;
        margin-top: 4%;
        width: 33.5%;
        padding-bottom: 2%;
    }


}