#about-mainpage{
    height: 50 vh;
    position: relative;

        
    h1{
        // Normal Implementation
        position: absolute;
        transform: rotate(270deg);
        margin-left: 17%;
        margin-top: 11%;
        font-size: 4.5rem;
        font-family: 'AmericanPurpose';
        color: black;
        text-transform: uppercase;

        // Medium Screen Implementation (768 - 991)
        @include screen-md{
            font-size: 2.7rem;
            margin-left: 13%;
        }

        // Large Screen Implementation (992 - 1200)
        @include screen-lg {
            margin-left: 14%;
            font-size: 3.5rem;
        }
    }   
    
    .paragraphs{
        // Normal Implementation
        width: 29.5%;
        margin-left: 25%;
        margin-top: 5%;
        position: absolute;

        // Medium Screen Implementation (768 - 991)
        @include screen-md {
            margin-left: 23%;
        }

        // Large Screen Implementation (992 - 1200)
        @include screen-lg {
            margin-top: 4%;
        }

        p{
            // Normal Implementation
            color: black;
            text-align: justify;
            text-justify: inter-word;
            font-size: 140%;
            line-height: 1.3;
            font-family: 'Open Sans';

            // Medium Screen Implementation (768 - 991)
            @include screen-md {
                font-size: 0.7rem;
                line-height: 0.9;
            }

            // Large Screen Implementation (992 - 1200)
            @include screen-lg {
                font-size: 1rem;
                line-height: 1;
            }
            
        }

        br{
            // Normal Implementation
            line-height: 24px;

            // Medium Screen Implementation (768 - 991)
            @include screen-md {
                line-height: 5px;
            }
        }
    }
    
        
    button{
        // Normal Implementation
        margin-left: 38%;
        margin-top: 5%;
        position: absolute;
        margin-left: 26%;
        margin-top: 22.5%;
        font-family: 'Open Sans';
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        height: 5.5vh;
        width: 27vh;
        background-color: rgb(192, 40, 44);
        border: none;
        border-radius: 7px;
        display: inline-block; 

        // Medium Screen Implementation (768 - 991)
        @include screen-md {
            font-size: 0.6rem;
            margin-left: 25.5%;
            margin-top: 24.5%;
            height: 3.5vh;
            width: 15vh;
        }

        // Large Screen Implementation (992 - 1200)
        @include screen-lg {
            font-size: 1rem;
            margin-left: 27%;
            margin-top: 24.5%;
            height: 3.5vh;
            width: 14vh;
        }
    }

    
    img{
        // Normal Implementation
        margin-left: 57.5%;
        margin-top: 4%;
        width: 33.5%;
        padding-bottom: 2%;

        // Medium Screen Implementation (768 - 991)
        @include screen-md {
            width: 37.5%;
        }

        // Large Screen Implementation (992 - 1200)
        @include screen-lg {
            width: 37.5%;
        }
    }


}