//All fit to Macbook Pro 16" screen unless specified by mixins

#about-mainpage{
    // height: 50vh;
    position: relative;

    // Large Screen Implementation (1024^)
    @include screen-lg{
        height: 64vh;
    }
    // Medium Screen Implementation (768 - 991)
    @include screen-md{
        height: 40vh;
    }

        
    h1{
        position: absolute;
        transform: rotate(270deg);
        margin-left: 16%;
        margin-top: 10%;
        font-size: 5.5rem;
        font-family: 'AmericanPurpose';
        color: black;
        text-transform: uppercase;

        // Medium Screen Implementation (768 - 991)
        @include screen-md{
            font-size: 3.75rem;
            margin-left: 2%;
            margin-top: 16.5%;
        }

        // Large Screen Implementation (992 - 1200)
        @include screen-lg {
            margin-left: 14%;
            font-size: 3.5rem;
        }
    }   
    

    .paragraphs{
        width: 29.5%;
        margin-left: 25%;
        margin-top: 4%;
        position: absolute;

        // Medium Screen Implementation (768 - 991)
        @include screen-md {
            margin-left: 23%;
        }

        // Large Screen Implementation (992 - 1200)
        @include screen-lg {
            margin-top: 4%;
        }

        p{
            color: black;
            text-align: justify;
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-family: 'Open Sans';

            // Medium Screen Implementation (768 - 991)
            @include screen-md {
                font-size: 0.9rem;
                line-height: 0.9;
                margin-left: -10%;
                margin-top: 8%;
            }

            // Large Screen Implementation (992 - 1200)
            @include screen-lg{
                font-size: 0.75rem;
                line-height: 1;
            }

            a{
                color: rgb(192, 40, 44);
                font-weight: bold;
            }
        }

        br{
            line-height: 7.5%;

            // Medium Screen Implementation (768 - 991)
            @include screen-md {
                line-height: 5%;
            }
        }
    }
    
    img{
        // Normal Implementation
        margin-left: 57.5%;
        margin-top: 4%;
        width: 30%;
        padding-bottom: 2%;

        // Medium Screen Implementation (768 - 991)
        @include screen-md {
            width: 40%;
            margin-top: 6%;
        }

        // Large Screen Implementation (992 - 1200)
        @include screen-lg {
            width: 37.5%;
        }
    }


}