#sponsors{
    height: 95vh;
    background-color: white;

    

    .sponsor-title{

        h4{
            color: black;
            font-family: 'AmericanPurpose';
            text-align: center;
            font-size: 5rem;
            padding-top: 5%;
            }
    }

    .top-row{

        .top-headings{

            ul{
                margin-left: 15%;
                margin-top: 10%;

                li{
                    float: left;
                    position: relative;
                    list-style: none;
                    padding-right: 15%;

                    h3, h4{
                        color: rgb(184, 15, 15);
                        font-family: 'Open Sans';
                        font-size: 2rem;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .chase{
            margin-left: 5%;
            img{
                max-width: 20%;
            }
        }

        .top-sponsors{

            ul{
                margin-left: 15%;
                margin-top: 10%;

                li{
                    
                    position: relative;
                    list-style: none;
                    padding-right: 10%;

                    img{
                        max-width: 20%;
                        
                    }
                }
            }
        }
    }

    .middle-row{

        .silver{

            h4{
                color: rgb(184, 15, 15);
                text-transform: uppercase;
                font-family: 'Open Sans';
                font-size: 2rem;
            }

            .silver-sponsors{

                ul{
                    margin-left: 15%;
                    margin-top: 5%;

                    li{
                        float: left;
                        position: relative;
                        list-style: none;
                        
                    }
                }  
            }
        }
    }
}