#inductees-mainpage {
    height: 80vh;
    background-image: url('/img/Red_BG.png') ;
    background-repeat: no-repeat;
    background-size: cover;

    .heading {

        h2 {
            padding-top: 15%;
            text-align: center;
            font-family: 'AmericanPurpose';
            color: white;
            font-size: 500%;
            letter-spacing: initial;
            word-spacing: initial;

        }
    }   

    .inductees-gray {
        
        ul {
            margin-left: 10%;

            li{
                
                float: left;
                position: relative;
                list-style: none;
                padding: 1%;
                color: white;
                
                img{
                    filter: grayscale(100%);
                    width: 100%;
                    height: 100%;
                    border-color: white;
                }
            }
        }
    }
}