#what-we-stand-for {
    height: 90vh;
    background-image: url('/img/hero-bg.png');
    background-repeat: no-repeat;
    background-color: grey;
    background-blend-mode: multiply;
    background-size: cover;

    // Medium Screen Implementation (iPad, 768 - 991)
    @include screen-md{
        height: 60vh;
    }
    // Extra Small Screen Implementation (iPhone X, 768 max)
    @include screen-xs{
        height: 35vh;
    }

    .bodybox1{
        margin-top: 25%;
        
        h2{ 
            margin-left: 10%;
            color: white;
            font-size: 4.4rem;
            font-family: 'AmericanPurpose', Arial, Sans-Serif;
            text-transform: uppercase;
            line-height: normal;

            // Medium Screen Implementation (iPad, 768 - 991)
            @include screen-md {
                font-size: 2.8rem;
            }
            // Extra Small Screen Implementation (iPhone X, 768 max)
            @include screen-xs{
                font-size: 1.5rem;
            }
        }
        

        button{

            //positioning
            margin-left: 10%;
            margin-top: 5%;
             // Button code
            font-family: 'Open Sans';
            font-size: 1rem;
            font-weight: bold;
            color: white;
            text-align: center;
            letter-spacing: 1px;
            height: 5.5vh;
            width: 27vh;
            background-color: rgb(192, 40, 44);
            border: none;
            border-radius: 7px;
            display: inline-block; 
                        
            // Medium Screen Implementation (iPad, 768 - 991)
            @include screen-tablet-max{
                width: 30vh;
            }    
            // Extra Small Screen Implementation (iPhone X, 768 max)
            @include screen-xs{
                width: 12.5vh;
                height: 3.75vh;
                font-size: 0.5rem;
                letter-spacing: 0.5px;
                line-height: 125%;
            }
            }
        }
}

// All other mixins adjust correctly and fit to size without declaration