#what-we-stand-for {
    height: 90vh;
    background-image: url('/img/hero-bg.png');
    background-repeat: no-repeat;
    background-color: grey;
    background-blend-mode: multiply;
    background-size: cover;

    .bodybox1{
        margin-top: 25%;
        
        h2{ 
            margin-left: 10%;
            color: white;
            font-size: 4.4rem;
            font-family: 'AmericanPurpose', Arial, Sans-Serif;
            letter-spacing: 2%;
            text-transform: uppercase;
            line-height: normal;
            @include screen-tablet-max {
                font-size: 2.8rem;
                text-align: center;
            }
        }
        
    
        
        

        button{

            //positioning
            margin-left: 10%;
            margin-top: 5%;

             // Button code
            font-family: 'Open Sans';
            font-size: 1rem;
            font-weight: bold;
            color: white;
            text-align: center;
            text-decoration: none;
            letter-spacing: 1px;

            height: 5.5vh;
            width: 27vh;

            background-color: rgb(192, 40, 44);
            padding: 15px 32px;
            border: none;
            border-radius: 7px;
            display: inline-block; 
            @include screen-tablet-max{
                width: 30vh;
            }
            }
        }
    }
