#what-we-stand-for {
    height: 80vh;
    background-image: url('/img/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    .bodybox1{
        margin-top: 25%;
        
        h2{ 
            margin-left: 10%;
            color: white;
            font-size: 350%;
            font-family: 'AmericanPurpose', Arial, Sans-Serif;
            letter-spacing: 3px;
        }
        
        
        h3{
            margin-left: 10%;
            margin-top: 2%;
            color: white;
            font-size: 350%;
            font-family: 'AmericanPurpose', Arial, Sans-Serif;
            letter-spacing: 3px;
        }
        
        

        button{

            //positioning
            margin-left: 10%;
            margin-top: 5%;

             // Button code
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: bold;
            color: white;
            text-align: center;
            text-decoration: none;

            height: 5.5vh;
            width: 27vh;

            background-color: rgb(184, 15, 15);
            padding: 15px 32px;
            border: none;
            border-radius: 7px;
            display: inline-block; 
            }
        }
    }
